{		
	.id = {{id}},
	.color = {
        [0] = {.r = 0, .g = 0, .b = 0},
{% for color in colors %}
        [{{loop.index}}] = {.r = {{color[0]}}, .g = {{color[1]}}, .b = {{color[2]}} },
{% endfor %}
	},
};
